/* ROOT
-------------------------------------------------------------------------------- */

div.container-header {
    --page-width:80em;
}

div.container-body {
    --page-width:60em;
}

/* QUOTE
-------------------------------------------------------------------------------- */

/* Remove '>' default quote border */
blockquote::after {
    content: "";
}
/* Add custom 'blue line' quote border */
blockquote {
    border-left: 3px solid var(--primary-color);
    padding-left: 20px;
}

/* CODE 
-------------------------------------------------------------------------------- */

/* Remove '`' default code wrap */
code::after,
code::before {
    content: "";
}

pre code {
    overflow-x: hidden;
    padding: 15px;
}

pre {
    border: none;
}

code {
    background-color: var(--code-bg-color) !important;
}


/* IMG
-------------------------------------------------------------------------------- */

.smaller_img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.even_smaller_img {
    width: 25% !important;
    margin-left: auto;
    margin-right: auto;
}

/* A HREF
-------------------------------------------------------------------------------- */


a {
    text-decoration: underline;
}

/* FIG ICONS (podqueue table)
-------------------------------------------------------------------------------- */

figure.icon_fig {
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    width: 50px !important;
    height: 50px !important;
}
